@import "tailwindcss";

main {
  scrollbar-width: none;
}
main {
  -ms-overflow-style: none;
}
main::-webkit-scrollbar,
main::-webkit-scrollbar-button {
  display: none;
}
main::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

:root {
  /* https://coolors.co/1c1d21-fffcff-5aa9e6-e3b505-a30b37 */
  --color-black-darker: #1c1d21;
  --color-black: #2f3137;
  --color-white: #fffcff;
  --color-red: #a30b37;
  --color-orange: #d46921;
  --color-yellow: #e3b505;
  --color-green: #4ab553;
  --color-blue: #5aa9e6;
  --color-purple: #766ea5;

  /* Tokyo Night*/
  --tokyo-night-dark-white-1: #cfc9c2;
  --tokyo-night-dark-white-2: #c0caf5;
  --tokyo-night-dark-white-3: #a9b1d6;
  --tokyo-night-dark-white-4: #9aa5ce;
  --tokyo-night-dark-black-1: #565f89;
  --tokyo-night-dark-black-2: #414868;
  --tokyo-night-dark-black-3: #24283b;
  --tokyo-night-dark-black-4: #1a1b26;
  --tokyo-night-dark-red: #f7768e;
  --tokyo-night-dark-orange: #ff9e64;
  --tokyo-night-dark-yellow: #e0af68;
  --tokyo-night-dark-green: #9ece6a;
  --tokyo-night-dark-teal: #73daca;
  --tokyo-night-dark-light-teal: #b4f9f8;
  --tokyo-night-dark-cyan: #2ac3de;
  --tokyo-night-dark-light-blue: #7dcfff;
  --tokyo-night-dark-blue: #7aa2f7;
  --tokyo-night-dark-purple: #bb9af7;

  /* Tokyo Night Light */
  --tokyo-night-light-white: #e6e7ed;
  --tokyo-night-light-black-1: #343b58;
  --tokyo-night-light-black-2: #40434f;
  --tokyo-night-light-black-3: #6c6e75;
  --tokyo-night-light-red: #8c4351;
  --tokyo-night-light-orange: #965027;
  --tokyo-night-light-yellow: #8f5e15;
  --tokyo-night-light-brown: #634f30;
  --tokyo-night-light-green: #385f0d;
  --tokyo-night-light-teal: #33635c;
  --tokyo-night-light-light-teal: #006c86;
  --tokyo-night-light-cyan: #0f4b6e;
  --tokyo-night-light-blue: #2959aa;
  --tokyo-night-light-purple: #5a3e8e;

  /* Campbell */
  --campbell-dark-black: #0c0c0c;
  --campbell-dark-blue: #0037da;
  --campbell-dark-cyan: #3a96dd;
  --campbell-dark-green: #13a10e;
  --campbell-dark-purple: #881798;
  --campbell-dark-red: #c50f1f;
  --campbell-dark-white: #cccccc;
  --campbell-dark-yellow: #c19c00;
  --campbell-dark-bright-black: #767676;
  --campbell-dark-bright-blue: #3b78ff;
  --campbell-dark-bright-cyan: #61d6d6;
  --campbell-dark-bright-green: #16c60c;
  --campbell-dark-bright-purple: #b4009e;
  --campbell-dark-bright-red: #e74856;
  --campbell-dark-bright-white: #f2f2f2;
  --campbell-dark-bright-yellow: #f9f1a5;

  /* One Dark */
  --one-dark-black-1: #1d2025;
  --one-dark-black-2: #252931;
  --one-dark-black-3: #282c34;
  --one-dark-white: #abb2bf;
  --one-dark-light-red: #e06c75;
  --one-dark-dark-red: #be5046;
  --one-dark-green: #98c379;
  --one-dark-light-yellow: #e5c07b;
  --one-dark-dark-yellow: #d19a66;
  --one-dark-blue: #61afef;
  --one-dark-magenta: #c678dd;
  --one-dark-cyan: #56b6c2;
  --one-dark-gutter-grey: #4b5263;
  --one-dark-comment-grey: #5c6370;

  /* One Light */
  --one-light-black: #383a42;
  --one-light-white-1: #fafafa;
  --one-light-white-2: #cfd0d1;
  --one-light-white-3: #a1a1a1;
  --one-light-light-red: #e45649;
  --one-light-dark-red: #ca1243;
  --one-light-green: #50a14f;
  --one-light-light-yellow: #c18401;
  --one-light-dark-yellow: #986801;
  --one-light-blue: #526eff;
  --one-light-magenta: #a626a4;
  --one-light-cyan: #0184bc;

  /* Monokai Dark */
  --monokai-dark-black-1: #221f22;
  --monokai-dark-black-2: #2d2a2e;
  --monokai-dark-white: #fcfcfa;
  --monokai-dark-red: #ff6188;
  --monokai-dark-orange: #fc9867;
  --monokai-dark-yellow: #ffd866;
  --monokai-dark-green: #a9dc76;
  --monokai-dark-blue: #78dce8;
  --monokai-dark-magenta: #ab9df2;

  /* Monokai lighting-color: ; */
  --monokai-dark-white-1: #fefaf9;
  --monokai-dark-white-2: #faf4f2;
  --monokai-dark-black: #29242a;
  --monokai-dark-red: #e14775;
  --monokai-dark-orange: #e16032;
  --monokai-dark-yellow: #cc7a0a;
  --monokai-dark-green: #269d69;
  --monokai-dark-blue: #1c8ca8;
  --monokai-dark-magenta: #7058be;

}

.global-title {
  color: var(--color-yellow);
  font-size: 38px;
  font-weight: bold;
}
.global-title-2 {
  color: var(--color-blue);
  font-size: larger;
  font-weight: bold;
}
.global-text {
  color: var(--color-white);
}
.global-hyperlink {
  color: var(--color-blue);
  font-weight: bold;
}
.global-button {
  color: var(--color-green);
  font-weight: bold;
}

.navbar-background {
  background-color: var(--color-black-darker);
  height: 7vh;
}

.navbar-font {
  color: var(--color-white);
}

.hero-background {
  background-color: var(--color-black);
  height: 100vh;
}

.about-background {
  background-color: var(--color-black);
  height: 100vh;
}
.personal-background {
  background-color: var(--color-black);
  height: 100vh;
}
.skills-background {
  background-color: var(--color-black);
  height: 100vh;
}
.career-background {
  background-color: var(--color-black);
  height: 100vh;
}
.contact-background {
  background-color: var(--color-black);
  height: 100vh;
}
